<%= form_with(model: property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div>
    <%= form.label :typeProperty, style: "display: block" %>
    <%= form.text_field :typeProperty, autofocus: true, required: true %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select :category_id, Category.where(available: true), :id, :name %>
  </div>

  <div>
    <%= form.label :squareMeters, style: "display: block" %>
    <%= form.number_field :squareMeters, required: true %>
  </div>

  <div>
    <%= form.label :direction, style: "display: block" %>
    <%= form.text_area :direction, required: true, minlength: 10 %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact, required: true %>
  </div>

  <div>
    <%= form.label :available, style: "display: block" %>
    <%= form.check_box :available %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
