<div id="<%= dom_id property %>">
  <p>
    <strong>User:</strong>
    <%= property.user.full_name %>
  </p>

  <p>
    <strong>Typeproperty:</strong>
    <%= property.typeProperty %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= property.category_id %>
  </p>

  <p>
    <strong>Squaremeters:</strong>
    <%= property.squareMeters %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= property.direction %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= property.contact %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= property.available %>
  </p>

</div>
